adal==0.4.5
azure-batch==2.0.0
azure-keyvault==0.1.0
azure-mgmt-batch==3.0.0
azure-mgmt-compute==0.33.0
azure-mgmt-network==0.30.0
azure-mgmt-resource==0.31.0
azure-storage==0.34.0
blobxfer==0.12.1
click==6.7
future==0.16.0
msrest==0.4.6
msrestazure==0.4.7
pathlib2==2.2.1; python_version < '3.5'
scandir==1.5; python_version < '3.5'
