adal==0.4.7
azure-batch==3.1.0
azure-keyvault==0.3.6
azure-mgmt-batch==4.1.0
azure-mgmt-compute==1.0.0
azure-mgmt-network==1.4.0
azure-mgmt-resource==1.1.0
azure-storage==0.36.0
blobxfer==0.12.1
click==6.7
future==0.16.0
msrest==0.4.14
msrestazure==0.4.14
pathlib2==2.3.0; python_version < '3.5'
python-dateutil==2.6.1
requests==2.18.4
scandir==1.5; python_version < '3.5'
