azure-batch==7.0.0
azure-cosmosdb-table==1.0.5
azure-mgmt-resource==3.1.0
azure-mgmt-storage==4.0.0
# temporarily pin azure-storage-common due to azure-cosmosdb-table incompatibility
azure-storage-common==2.0.0
azure-storage-queue==2.0.1
msrestazure==0.6.1
python-dateutil==2.8.0
requests==2.22.0
